@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Regular.ttf);
    font-weight: 400;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Light.ttf);
    font-weight: 300;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-ExtraLight.ttf);
    font-weight: 200;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Medium.ttf);
    font-weight: 500;
    }


@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Bold.ttf);
    font-weight: 700;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-SemiBold.ttf);
    font-weight: 600;
    }

@font-face {
    font-family: Otypical Headline;
    src: url("../fonts/Otypical_Headline.ttf");
    font-weight: 600;
    }


:root {
    /* font-size: min(calc(1em + 1vw), 4em); */
    --c-creme: #f0ece3;
    --p-purple: #131444;
    --primary-color: var(--p-purple);
    --secondary-color: var(--c-creme);
    --tertiary-color: #00000;
    --CTA-color: #00cfff;
    --primary-font: Mona sans, sans serif;
    --secondary-font: Otypical Headline, sans serif;
    /* --dist-det-week: 2.5em; */
    --shadow: 4px 4px 10px #1314443f;
    --background-dots:radial-gradient(rgba(255, 255, 255, 1) 9%, transparent 9%);
    --background-dots2:radial-gradient(rgba(255, 255, 255, .2) 9%, transparent 9%);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 300;
    color: var(--secondary-color);
    
    background-color: var(--primary-color);
    
    }

h1 {
    
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary-color);
    }

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--secondary-color);
    }

h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--secondary-color);
    }


a {
    position: relative;
    width: max-content;
    text-decoration: none;
    color: var(--secondary-color);
    }

a:before {
    position: absolute;
    bottom: -.125em;
    width: 100%;
    height: 1px;
    content: "";
    transition: transform 0.3s ease-in;
    transform: scale3d(0, 2, 2);
    transform-origin: 100%;
    background-color: var(--secondary-color);
    }

a:hover:before {
    transform: scale3d(1, 2, 5);
    transform-origin: 0;
    animation-fill-mode: forwards;
    }

a:after {
    position: absolute;
    bottom: -.125em;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    /* transition: transform 0.3s ease-in; */
    /* transform: scale3d(0, 2, 2); */
    transform-origin: 100%;
    background-color: var(--secondary-color);
    }

/* header */
header {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    padding-top: 3em;
    gap: 4em;
    position: relative;
    }
header:before{
    content: "";
    background-image: var(--background-dots), var(--background-dots2);
    background-size: 5vmin 5vmin;
    background-position: 0 0, .5vmin .5vmin;
    background-repeat: repeat;
    background-attachment: fixed;
    /* background-color: var(--primary-color); */
    height: 200vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: -2;
    }

header > section:nth-of-type(1) {
    margin: 0 0 0 5em;
    }

header > section:nth-of-type(1) h1 {
    margin-bottom: 0;
    }

header > section:nth-of-type(1) p {
    margin-top: .25em;
    }

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .3em;
    }
#account{
    /* display: none; */
    margin-top: 2em;
    background-color: #ff9f3282;
    padding: 2em;
    }


/* main */

main{
    min-height: 80vh;
    margin: 5vh 5vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
    background-color:  #ff9f3282;
    position: relative;
    }
main > div{
    display: flex;
    justify-content: space-between;
    }
main h3{
    font-size: 1rem;
    font-weight: bold;
    }

main #chatContainer{
    overflow-y: scroll;
    }

main #chat-form{
    /* width: 85%; */
    /* height: 10vh; */
    /* bottom: 15vh; */
    /* position: fixed; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    }
main #chat-form form{
    display: flex;
    width: 100%;
    }
main #chat-form input{
    flex-basis: 90%;
    flex-grow: 5;
    padding: .5em;
    margin: .5em 0;
    }
main #chat-form input[type="submit"]{
    padding: .5em;
    margin: .5em 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    flex-basis: fit-content;
    
    }
/* footer */

/* classes */


/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
    }